<div class="esn-right-dialog">
  <div class="esn-right-dialog-grpset">
          <div class="charge-head">
            <span class="icon-web_icon_close charge-icon" ng-click="closeDiag()"></span>
            <span>设置</span>
          </div>
          <div class='esn-grpset-main'>
            <div class='esn-grpset-head'>
                <div class='esn-grpset-title'>名称</div>
                <input class='esn-grpset-name' type='text' value='社交与事业协同部' readonly='true'/>
                <div class='esn-grpset-edit' ng-click='editGroupName($event)'>编辑</div>
            </div>
            <div class='esn-grpset-set'>
                <div class='esn-grpset-set-item'>
                    <div class='esn-grpset-set-item-title'>顶置聊消息</div>
                    <switch></switch>
                </div>
                <div class='esn-grpset-set-item'>
                    <div class='esn-grpset-set-item-title'>新消息通知</div>
                    <switch></switch>
                </div>
            </div>
            <div class='esn-grpset-member'>
              <span class='esn-grpset-member-title'>成员</span>
              <span class='esn-grpset-member-number'>14人</span>
            </div>
            <div class='esn-grpset-member-items'>
              <div class='esn-grpset-member-item esn-grpset-member-add'>
                  <div class='esn-grpset-member-logo'>+</div>
                  <div class='esn-grpset-member-text'>添加</div>
              </div>
              <div class='esn-grpset-member-item esn-grpset-member-remove'>
                  <div class='esn-grpset-member-logo'>-</div>
                  <div class='esn-grpset-member-text'>移除</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>
              <div class='esn-grpset-member-item'>
                  <div class='esn-grpset-member-logo'><img src='http://test.staticoss.upesn.com/1/3469/201606/16/1466042284adbbe7c7e0ec89c60f1f47976e0899b4.png'/></div>
                  <div class='esn-grpset-member-text'>高然</div>
              </div>

            </div>
          </div>
          <div class='esn-grpset-bottom'>
              <div class='esn-grpset-bottom-dissolved'>解散</div>
              <div class='esn-grpset-bottom-out'>退出</div>
          </div>
    </div>
</div>
