<div class="esn-right-dialog">
  <div class="esn-right-dialog-grpset" >
          <div class="search-loading-animation esn-grpset-loading" ng-show='grpset.showloading'>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class='esn-grpset-mask' ng-show='grpset.showMask'></div>

          <div class="charge-head">
            <span class="icon-web_icon_close charge-icon" ng-click="closeDiag()"></span>
            <span>{{item.from.name}}详情</span>
          </div>
          <div class='esn-grpset-main'>

            <!-- <div class='esn-grpset-member'>
              <span class='esn-grpset-member-title'>成员</span>
              <span class='esn-grpset-member-number' ng-bind='param.numberOfMembers'></span>
            </div> -->
          </div>
          <!-- <div class='esn-grpset-bottom' ng-show='!isOwner'>
              <div class='esn-grpset-bottom-out' style='width:100%' ng-click='exitChatGroup()'>退出</div>
          </div> -->
    </div>
</div>
